$color-primary: #2d3651;
$color-active: #fedfe9;
$color-cap: #2e141e;
$color-pink: #fff4f8;
$color-gray-light: #e5e5e5;
$color-gray-dark: #44596e;
$color-text: #332725;
$color-stories:#efe7d6;

// #f6f0e5