
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";
*{
  box-sizing: border-box;
}
body{
  background-color:$color-pink;
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  text-decoration: none;
}
.slider{
  min-height: 100vh;
  min-width: 100vw;
  background-image:url(/assets/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position:  50% 50%;
  background-size: 100%;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 15vh;
  background-color: $color-cap;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5)
}
.header-logo,img{
height: 80%;
}
.header-menu{
  width: 40%;
  height: 30%;
  text-align: center;
}
// .menu{
  
// }
.menu-item{
  color: white;
  margin-left: 20px;
} 

// PRODUCTION
.production,
.recept,
.stories,
.stories{ max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 1200px;
  overflow: hidden;
}
.production{
  background-color: white;
  margin-top: 20px ;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  &-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 5px;
    grid-template-areas: "p1 p2 p3"
                         "p4 p5 p6";
               
                         &__image{
                          height: 250px;
                          width: 200px;
                          position: relative;
                          overflow: hidden;
                          &:hover{
                            transform: scale(1.1);
                            transition: transform 0.5s;
                          }
                        }
                        
&__item{
  height: 650px;
  max-width: 450px;
  margin: 5px;
  text-align: center;
  // &:hover{
  //   transition: background-color 0.5s;
  // }
  
  .image{
    background-color: white;
    
  }
  
}

&__action{
  color: $color-text;
  margin-bottom: 0px;
}
#11:nth-of-type(1){
  grid-area: p1;
}
#12:nth-of-type(2){
 grid-area: p2;
}
#13:nth-of-type(3){
 grid-area: p3;
}
#14:nth-of-type(4){
 grid-area: p4;
}
#15:nth-of-type(5){
 grid-area: p5;
}
#16:nth-of-type(6){
 grid-area: p6;
}
}
}
