
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";
*{
  box-sizing: border-box;
}
body{
  background-color: rgba(254, 201, 219,0.8);
}
a{
  text-decoration: none;
}
.header{
  display: flex;
  width: 100vw;
  height: 15vh;
  background-color: rgb(46, 20, 31);
  align-items: center;
  justify-content: center;
}
.header-logo,img{
height: 80%;
}
