
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";


*{
  box-sizing: border-box;
}
body{
  background-color:$color-pink;
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  text-decoration: none;
}
.slider{
  min-height: 100vh;
  min-width: 100vw;
  // background-image:url(/assets/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position:  50% 50%;
  background-size: 100%;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 15vh;
  background-color: $color-cap;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5)
}
.header-logo,img{
height: 80%;
}
.header-menu{
  width: 40%;
  height: 30%;
  text-align: center;
}
// .menu{
  
// }
.menu-item{
  color: white;
  margin-left: 20px;
} 

// PRODUCTION
.production,
.recept,
.stories,
.stories,
.tutorials{ max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}

